<!-- Footer -->
<footer class="bg-black text-white py-6 text-center text-sm mt-20">
  <p>&copy; 2025 New_world Packers & Movers. All rights reserved.</p>
</footer>

<script>
  AOS.init();
</script>
</body>
</html>
